<section class="page__stats">
    <h2>Statistiques</h2>
    
    <div class="grid__stats">
        <article class="card__stat">
            <h3>{{totalCompte}}</h3>
            <p>Profils créés au total</p>
        </article>

        <article class="card__stat">
            <h3>{{moyenneFav}}</h3>
            <p>Films favoris en moyenne par profil</p>
        </article>

        <article class="card__stat">
            <h3>{{totalFilms}}</h3>
            <p>Films disponibles</p>
        </article>

        <article class="card__stat">
            <h3>{{filmPopulaire}}</h3>
            <p>Le plus ajouté en favori</p>
        </article>

        <article class="card__stat">
            <h3>{{catPopulaire}}</h3>
            <p>Catégorie la plus populaire</p>
        </article>
    </div>
</section>