  <article class="movie__boxdetail">

    <button onclick="C.changeProfile()">Retour</button>


    <img src="{{image}}" alt="Image" class="movie__img" />

    <h1 class="movie__boxtitledetail">{{itemTitle}}</h1>
    <p class="movie__boxdescdetail">{{itemDesc}}</p>
    <p class="movie__boxdirectordetail">{{itemRealisateur}}</p>
    <p class="movie__boxyeardetail">{{itemYear}}</p>
    <p class="movie__boxcategoriedetail">{{itemCategorie}}</p>
    <p class="movie__boxagedetail">{{itemAge}}</p>


    <iframe width="560" height="315" src="{{itemTrailer}}" frameborder="0" allowfullscreen></iframe>

  </article>
