  <article class="movie__box">

    <button onclick="C.changeProfile()">Retour</button>

    <img src="{{image}}" alt="Image" class="movie__img" />

    <h1 class="movie__boxtitle">{{itemTitle}}</h1>
    <p class="movie__boxdesc">{{itemDesc}}</p>
    <p class="movie__boxdirector">{{itemRealisateur}}</p>
    <p class="movie__boxyear">{{itemYear}}</p>
    <p class="movie__boxcategorie">{{itemCategorie}}</p>
    <p class="movie__boxage">{{itemAge}}</p>


    <iframe width="560" height="315" src="{{itemTrailer}}" frameborder="0" allowfullscreen></iframe>

  </article>
