<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="C.handlerHome()">Films</li>
    <li class="navbar__item" onclick="{{hAbout}}">Séries</li>
    <li class="navbar__item" onclick="{{hNouveautés}}">Nouveautés</li>
    <li class="navbar__item" onclick="{{hTrending}}">Trending</li>
  </ul>
  <div class="navbar__profile">
    <select id="profile-select" onchange="{{handlerProfile}}">
        <option value="">Se Connecter/Déconnecter</option>
        {{optionsProfile}}
    </select>
  </div>
</nav>
